/* Content Stylings */
.content {
  & > p {
    @apply md:text-xl mb-10 leading-relaxed last-of-type:mb-0;
  }

  & > p > a {
    @apply underline;
  }

  & > h1,
  & > .h1 {
    @apply text-3xl md:text-5xl lg:text-6xl xl:text-6xl tracking-tighter last-of-type:mb-10;
  }

  & > h2,
  & > .h2 {
    @apply text-2xl md:text-5xl lg:text-5xl xl:text-5xl tracking-tight last-of-type:mb-8 first-of-type:mt-8;
  }

  & > h3,
  & > .h3 {
    @apply text-xl md:text-3xl tracking-tight last-of-type:mb-8 first-of-type:mt-8;
  }

  & > ul > li {
    @apply py-2 border-t border-t-slate-200;
  }
}

.content-sub {
  & > p {
    @apply text-lg font-light mb-10 leading-relaxed last-of-type:mb-0;
  }

  & > p > a {
    @apply underline;
  }

  & > h1,
  & > .h1 {
    @apply text-3xl md:text-4xl lg:text-4xl xl:text-6xl  tracking-tighter last-of-type:mb-2 text-slate-800;
  }

  & > h2,
  & > .h2 {
    @apply text-2xl md:text-3xl lg:text-3xl xl:text-5xl tracking-tighter last-of-type:mb-2  text-slate-600;
  }

  & > h3,
  & > .h3 {
    @apply text-2xl md:text-3xl lg:text-3xl xl:text-5xl tracking-tighter last-of-type:mb-2 first-of-type:mt-2;
  }

  & > ul > li {
    @apply text-lg font-light py-3 border-t border-t-slate-200;
  }
}

/* Heading Defaults */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  @apply p-0 mb-6 font-bold;
}
