/* Content Stylings */
.content {
  & > p {
    @apply text-lg font-light leading-relaxed mb-6  text-slate-900;
  }

  & > p > a {
    @apply underline;
  }

  & > h1,
  & > .h1 {
    @apply text-5xl font-bold tracking-tighter leading-tight mb-12 text-slate-700;
  }

  & > h2,
  & > .h2 {
    @apply text-2xl md:text-4xl md:font-light font-bold tracking-tight leading-tight pt-4 mb-10 text-slate-700;
  }

  & > h3,
  & > .h3 {
    @apply text-2xl md:text-4xl font-bold tracking-tighter leading-tight pt-4 mb-4 text-slate-800;
  }

  & > h4,
  & > .h4 {
    @apply text-lg md:text-2xl font-bold tracking-tight leading-tight pt-1 mb-6 text-slate-500;
  }

  & > ul > li {
    @apply text-lg font-light leading-relaxed  text-slate-900 py-2 border-t border-t-slate-200;
  }
}

.homepage {
  & > p {
    @apply text-lg font-light leading-relaxed mb-6 text-slate-900;
  }
  & > h1,
  & > .h1 {
    @apply text-5xl  md:text-6xl  font-extrabold tracking-tight leading-tight mb-10 text-white;
  }
}

.usecases {
  & > p {
    @apply text-lg font-normal leading-relaxed mb-6  text-slate-800;
  }
  & > h2,
  & > .h2 {
    @apply text-3xl sm:text-3xl md:text-3xl font-bold tracking-tighter leading-tight mb-12 text-black;
  }
}

.cta {
  @apply inline-block w-auto px-4 py-3 my-4 text-white bg-slate-800 hover:shadow-lg hover:scale-90 transition ease-in-out;
}

.desktopimage {
  @apply hidden relative md:block mx-auto text-center w-auto h-[40rem];
}

.mobileimage {
  @apply md:hidden relative block mx-auto text-center w-auto h-[20rem];
}

/* Heading Defaults */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  @apply p-0 mb-12 font-bold;
}

.tinytext {
  font-size: 10px;
}
