/* Heading Defaults */
h1,
.h1 {
  @apply py-8 font-serif text-4xl md:text-5xl md:py-12 font-medium tracking-tight text-white;
}
h2,
.h2 {
  @apply pt-16 pb-4 md:pt-24 md:pb-4 font-serif text-3xl font-semibold tracking-tight md:text-4xl text-slate-800;
}
h3,
.h3 {
  @apply mb-4 pt-2 md:mb-4 md:pt-6 font-sans font-medium md:text-lg leading-relaxed text-slate-800;
}
h4,
.h4 {
}

p {
  @apply my-4 font-sans font-light md:text-lg leading-relaxed text-slate-800;
}

.summary {
  @apply mb-4 text-xl font-sans font-light leading-relaxed text-slate-50;
}

.fullbleed span,
.span {
  @apply bg-black bg-opacity-10 py-2;
}

.fullbleed {
}

.fullbleed p {
  @apply font-light md:text-base font-mono text-black shadow-slate-200 shadow-xl;
}

.caption {
  @apply block bg-black bg-opacity-50 px-8 pt-4 pb-4 font-mono  text-yellow-400 text-xs;
}

.fullbleed li {
  @apply mb-4 font-mono text-red-600 list-decimal list-outside  mx-5;
}

.external_links li {
  @apply mb-4 font-sans font-light leading-relaxed text-slate-800;
}

.external_links a {
  @apply inline-block bg-yellow-200 hover:bg-yellow-200 hover:text-black;
}

.inverse {
  @apply bg-black  md:pt-12 md:pb-32 pt-20 pb-32;
}

.inverse p,
.p {
  @apply text-slate-300;
}
.inverse h1,
.h1 {
  @apply text-slate-300;
}
.inverse h2,
.h2 {
  @apply text-slate-300;
}
.inverse h3,
.h3 {
  @apply text-white;
}

li,
.li {
  @apply block md:my-2 font-sans font-light md:text-lg leading-relaxed;
}

.cta {
  @apply inline-block w-auto px-4 py-3 my-4 font-mono text-sm font-bold text-white bg-black hover:text-yellow-400 hover:scale-90 transition ease-in-out;
}

.tinytext {
  font-size: 10px;
  font-weight: 600;
}

.homepage h2,
.h2 {
  @apply pt-16 pb-4 sm:pt-16 md:pt-16 font-serif text-3xl font-bold tracking-tight md:text-3xl text-slate-800;
}

.usecase p,
.p {
  @apply my-4 text-base font-sans font-light leading-relaxed text-slate-800;
}
