/* Content Stylings */
.content {
  & > p {
    @apply text-base font-light leading-relaxed mb-6  text-slate-900;
  }

  & > p > a {
    @apply underline;
  }

  & > h1,
  & > .h1 {
    @apply text-5xl font-bold tracking-tighter leading-tight mb-12 text-slate-700;
  }

  & > h2,
  & > .h2 {
    @apply text-2xl md:text-4xl md:font-light font-bold tracking-tight leading-tight pt-4 mb-10 text-slate-700;
  }

  & > h3,
  & > .h3 {
    @apply text-2xl md:text-4xl font-bold tracking-tighter leading-tight pt-4 mb-4 text-slate-800;
  }

  & > h4,
  & > .h4 {
    @apply text-base md:text-2xl font-bold tracking-tight leading-tight pt-1 mb-6 text-slate-600;
  }

  & > ul > li {
    @apply text-base font-light leading-relaxed  text-slate-900 py-2 border-t border-t-slate-200;
  }
}

.homepage {
  & > p {
    @apply text-lg font-light leading-relaxed mb-6 text-white;
  }
  & > h1,
  & > .h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-extrabold tracking-tight leading-tight mb-10 text-white;
  }
}

.usecases {
  & > p {
    @apply md:text-lg  leading-relaxed mb-6 text-base font-light py-4  text-slate-800;
  }
  & > h2,
  & > .h2 {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold tracking-tighter leading-tight mb-6 text-slate-400;
  }
}

.portfolio {
  & > p {
    @apply text-base font-light leading-relaxed mb-6 text-slate-700;
  }
  & > h1,
  & > .h1 {
    @apply mx-auto max-w-3xl text-4xl lg:text-6xl md:text-5xl font-extrabold tracking-tighter leading-tight mb-12 text-lime-900;
  }
  & > h2,
  & > .h2 {
    @apply mx-auto max-w-3xl text-center text-lg  lg:text-xl sm:text-2xl md:text-xl font-light leading-tight mb-12 text-slate-500;
  }
  & > h3,
  & > .h2 {
    @apply max-w-3xl text-lg sm:text-2xl md:text-2xl lg:text-4xl font-medium tracking-tighter leading-tight mb-12 text-slate-500;
  }
}

.cta {
  @apply inline-block w-auto px-4 py-3 my-4 text-white bg-yellow-600 hover:scale-90 transition ease-in-out rounded-lg;
}

.desktopimage {
  @apply hidden relative md:block mx-auto text-center w-auto h-[36rem];
}

.mobileimage {
  @apply md:hidden relative block mx-auto text-center w-auto h-[20rem];
}

/* Heading Defaults */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  @apply p-0 mb-12 font-bold;
}

.tinytext {
  font-size: 10px;
  font-weight: 600;
}

.customlink {
  a {
    color: #0d14b8;
    padding: 1 1.25rem;
    margin: 0 -0.25rem;
    transition: color 0.3s ease-in-out, 0.3s ease-in-out;
  }
  a:hover {
    color: #fff;
  }
}

.hero .tagline {
  @apply text-4xl font-black tracking-tight md:pt-16 md:text-4xl lg:text-6xl xl:text-7xl md:font-extrabold text-customblue2;
}

.hero .points {
  @apply text-lg font-light md:pt-16  text-customblue2;
}

.resume .date {
  @apply text-xs font-medium tracking-tight text-slate-800;
}
.resume .jobrole {
  @apply text-lg font-bold tracking-tight mb-2 text-slate-900;
}
.resume .client {
  @apply text-sm font-bold text-yellow-600;
}
.resume li {
  @apply text-base font-light py-4 border-b border-b-slate-200 text-slate-800;
}

.blog .heading1 {
  @apply mb-4 text-2xl md:text-4xl font-bold max-w-3xl tracking-tight text-customblue leading-tight;
}
.blog .user {
  @apply text-sm font-medium text-slate-700;
}
.blog .userprofile {
  @apply text-sm font-light text-slate-800 text-opacity-90;
}
.blog li {
  @apply text-base font-light py-4 border-b border-b-slate-200 text-slate-800;
}

.usecase .heading1 {
  @apply text-3xl font-bold tracking-tight md:tracking-tighter  pt-20 md:pt-32 md:text-4xl lg:text-5xl xl:text-6xl md:font-bold text-black;
}
.usecase .heading2 {
  @apply mx-auto  pt-4 mt-4 mb-20 md:text-xl font-normal leading-normal md:pt-8 md:leading-8 text-slate-600;
}
.usecase .heading3 {
  @apply block pt-4 text-xl font-semibold tracking-tight  md:pt-16 md:text-xl lg:text-2xl xl:text-4xl text-slate-700;
}
.usecase .heading4 {
  @apply text-2xl font-bold tracking-tight   text-slate-400;
}

.usecase .subheading {
  @apply block mt-4 text-2xl font-bold tracking-tight  text-green-700;
}

.usecase .callout {
  @apply font-normal pt-8 my-8  md:pb-8 leading-relaxed md:leading-8  text-green-700 border-t border-t-slate-500 md:border-b md:border-b-slate-500;
}

.usecase .pleft {
  @apply font-normal  leading-relaxed md:leading-8 text-slate-700 md:pr-6;
}

.usecase .pright {
  @apply font-normal leading-relaxed md:leading-8 text-slate-700 md:pl-6;
}

.usecase .smalltext {
  @apply text-xs;
}

.caption {
  @apply text-sm font-normal text-black;
}
