/* Webfonts */
@import '_fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';
@import '_locomotive.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -40px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 40px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: white;
  margin-bottom: 40px;
}

h7 {
  -webkit-text-stroke: 3px blue;
  -webkit-text-fill-color: transparent;
}

.tinytext {
  font-weight: 500;
  font-size: 11px;
}

.word {
  opacity: 0;

  width: 100%;
  text-align: center;
}

.w1 {
  -webkit-animation: w1anim 20s infinite;
  animation: w1anim 20s infinite;
}

.w2 {
  -webkit-animation: w2anim 20s infinite;
  animation: w2anim 20s infinite;
}

.w3 {
  -webkit-animation: w3anim 20s infinite;
  animation: w3anim 20s infinite;
}

.w4 {
  -webkit-animation: w4anim 20s infinite;
  animation: w4anim 20s infinite;
}

.w5 {
  -webkit-animation: w5anim 20s infinite;
  animation: w5anim 20s infinite;
}

@-webkit-keyframes w1anim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@keyframes w1anim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
}

@-webkit-keyframes w2anim {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes w2anim {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes w3anim {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

@keyframes w3anim {
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

@-webkit-keyframes w4anim {
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@keyframes w4anim {
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

@-webkit-keyframes w5anim {
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes w5anim {
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
