/* Webfonts */
@import '_fonts.css';
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */

@import '_locomotive.css';
@import '_typography2.css';
@import 'test.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

/* Simple defaults */
body {
  @apply font-sans antialiased bg-neutral-900;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /*Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -10px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
}

.portfolio__labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: auto;
}

.portfolio__container {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio__container span {
  border: 1px solid #333;
  padding: 5px;
}

.blur {
  backdrop-filter: blur(10px);
}

.navshadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.section {
  @apply mx-auto w-full  hover:bg-slate-900 transition-all duration-300;
}

.stickynavigation {
  @apply p-8 fixed top-10 left-10 w-32 h-96 bg-slate-500 z-30;
}
