/* Webfonts */
@import '_fonts.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';
@import '_locomotive.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';

/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -40px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 40px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: white;
  margin-bottom: 40px;
}
